﻿@model IEnumerable<MyDVDShop.Web.Models.Customer>

<h2>List of Customers</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Address)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m => item.Address)</td>
            <td>@Html.ActionLink("[Show]","Details", new { id = item.Customer_ID})</td>
            <td>@Html.ActionLink("[Del]", "Delete", new { id = item.Customer_ID }))</td>
            <td>@Html.ActionLink("[Edit]", "Edit", new { id = item.Customer_ID }))</td>
        </tr>
        }
    </table>
}
