﻿@model MyDVDShop.Web.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
}

<h2>Datasheet of one Customer</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>The ID for the customer</td>
        <td>@Model.Customer_ID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Address)</td>
        <td>@Html.DisplayFor(m => m.Address)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.E_mail)</td>
        <td>@Html.DisplayFor(m => m.E_mail)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Age)</td>
        <td>@Html.DisplayFor(m => m.Age)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Mobile)</td>
        <td>@Html.DisplayFor(m => m.Mobile)</td>
    </tr>
</table>

