﻿@model MyDVDShop.Web.Models.Customer

<h2>Edit one Customer</h2>

@using (Html.BeginForm("Edit", "Customers"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Customer_ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Age)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Age)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Address)</div>

    <div class="editor-label">@Html.LabelFor(m => m.E_mail)</div>
    <div class="editor-field">@Html.EditorFor(m => m.E_mail)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Mobile)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Mobile)</div>

    <input type="submit" value="SEND" />
}
