﻿@model MyDVDShop.Web.Models.CustomersViewModel
@{
    ViewBag.Title = "CustomerIndex";
}

<h2>Customers Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("CustomerEdit",Model.EditedCustomer)

@Html.Partial("CustomerList",Model.ListOfCustomers)

